.screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    //margin-bottom: 70px;

    &, * {
        background-color: #522;
        color: #fff;
    }
}
