<section class="screen" *ngIf="actions.length" (click)="continue()">
    <h1 class="px-3 pt-3">Action Log</h1>
    <ul class="list-group p-3">
        <li class="list-group-item" *ngFor="let action of actions">
            {{ action }}
        </li>
    </ul>
</section>
