<div class="card">
    <div class="card-header">
        <h5 class="mb-0">What is this?</h5>
    </div>

    <div class="card-body">
        It's an early prototype remake of Dragon Court, an old game.
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">How can I get an account?</h5>
    </div>

    <div class="card-body">
        Right now accounts are not publicly available because the game isn't "ready" enough yet.
        Keep checking back periodically though, as this <strong>is</strong> being actively worked on.
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">What is currently done?</h5>
    </div>

    <div class="card-body">
        Right now you can do the following things:

        <ul>
            <li>Move around between every zone in the game (all locations visible)</li>
            <li>Quests go down as you move around</li>
            <li>
                Fight in the Fields! Questing in the Fields is... sort of done. It's very basic, but an early combat engine is in there
                <ul>
                    <li>Monster generation: Monster and stat generation is done</li>
                    <li>Attack: basic damage calculations and kill/death scenarios are done</li>
                    <li>Run away: random chance to run away, but you may get caught</li>
                    <li>Kill: Gain 10 marks for killing an enemy</li>
                    <li>Die: Lose half of your marks on death</li>
                </ul>
            </li>
            <li>Heal up for free at the Healer's Tower</li>
            <li>Refresh your quests at the Healer's Tower</li>
            <li>See an early UI for the Dragon Guard in the Castle</li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">What's up next?</h5>
    </div>

    <div class="card-body">
        <ul>
            <li>Bug fix: Currently possible to cheat death by refreshing on the "You died" screen</li>
            <li>Bug fix: The above also affects cash rewards for killing monsters</li>
            <li>Tidy up the combat engine and structure it to scale better</li>
        </ul>
    </div>
</div>

