<section class="screen" *ngIf="isShop()">
    <h1 class="mx-2">
        {{ game.zone.name }}
        <small class="float-right text-muted" (click)="leaveShop()">Exit</small>
    </h1>

    <div class="px-3">
        <div class="row">
            <div class="col-3 text-center">
                {{ game.zone.character }} says<br/>
                <em>{{ game.zone.quote }}</em>
            </div>
            <div class="col-9">
                <ng-container [ngSwitch]="game.zone.key">
                    <app-game-shop-castle-court *ngSwitchCase="'castle.court'"></app-game-shop-castle-court>
                    <app-game-shop-castle-guild *ngSwitchCase="'castle.guild'"></app-game-shop-castle-guild>
                    <app-game-shop-fields-healer *ngSwitchCase="'fields.healer'"></app-game-shop-fields-healer>
                </ng-container>
            </div>
        </div>
    </div>
</section>
