footer {
    width: 100%;
    height: 70px;
    display: block;
    background-color: #343a40;
    color: #bbb;
    border-top: 5px solid #ddd;
    position: absolute;
    bottom: 0;

    .white {
        color: #fff;
    }

    & > .row,
    .col-1,
    .col-1 * {
        height: 100%;
    }

    hr {
        border: 0;
        margin: 0.2em 0;
    }

    span + span {
        margin-left: 2em;
    }

    .btn {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 0;

        fa-icon {
            font-size: 2em;
            margin-top: 0.25em;
        }
    }
}
