<footer *ngIf="game.character">
    <div class="row pl-2 no-gutters">
        <div class="col-11 mt-2">
            <div class="row">
                <div class="col-3 white"><strong>{{ game.character.rank }} {{ game.character.name }}</strong></div>
                <div class="col-2"><strong>Guts:</strong> {{ game.character.guts?.current }}</div>
                <div class="col-2"><strong>Wits:</strong> {{ game.character.wits?.current }}</div>
                <div class="col-2"><strong>Charm:</strong> {{ game.character.charm?.current }}</div>
                <div class="col-3"><strong>Marks:</strong> {{ game.character.marks | number }}</div>
            </div>
            <div class="row">
                <div class="col-3"><strong>Quests:</strong> {{ game.character.quests?.current }}</div>
                <div class="col-2"><strong>Level:</strong> {{ game.character.level }}</div>
                <div class="col-2"><strong>Exp:</strong> {{ game.character.exp | number }}</div>
                <div class="col-5">
                    {{ game.character.gear?.weapon }}
                    <span *ngIf="game.character.gear?.weapon && game.character.gear?.armour">&amp;</span>
                    {{ game.character.gear?.armour }}
                </div>
            </div>
        </div>
        <div class="col-1">
            <a class="btn btn-block btn-dark" (click)="characterSheet()">
                <fa-icon
                    [icon]="game.zone.type === 'character' ? icons.world : icons.character"
                    [fixedWidth]="true"
                    [styles]="{color: 'white'}"
                    flip="horizontal">
                </fa-icon>
            </a>
        </div>
    </div>
</footer>
