main {
    cursor: default;
    border: 5px solid #ddd;
    width: 900px;
    height: 550px;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media (min-height: 662px) {
        top: 50%;
        margin-top: -275px;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0.25em;
    }

    h2 {
        font-size: 1.25rem;
        margin: 0.25em;
    }

    p {
        margin-bottom: 0.25rem;
    }
}
