<main>
    <app-game-zone></app-game-zone>
    <app-game-notification></app-game-notification>
    <app-game-shop></app-game-shop>
    <app-game-encounter></app-game-encounter>

    <app-game-character></app-game-character>
    <app-game-footer></app-game-footer>
</main>
