.navbar-nav {
    a {
        border-right: 1px solid #555;
        cursor: pointer;
        padding: 0.5em 1em;

        &:nth-last-child(2) {
            border-right: 0;
        }

        &.version {
            border: 0;
            position: absolute;
            right: 0;
        }
    }
}
