<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/auth/login" *ngIf="!currentUser">Login</a>
        <a class="nav-item nav-link" routerLink="/" *ngIf="currentUser">Play DC3</a>
        <a class="nav-item nav-link" routerLink="/faqs">FAQs</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser">Logout</a>

        <a class="nav-item nav-link version">v{{ version }}</a>
    </div>
</nav>

<router-outlet></router-outlet>
