.img-placeholder {
    border: 1px solid #ddd;

    &.bb-0 {
        border-bottom: 0;
    }

    &.bt-0 {
        border-top: 0;
    }
}

hr {
    border-width: 5px 0 0 0;
}

.progress {
    position: relative;
    top: 5px;
}

.list-group {
    max-height: 247px;
    overflow: auto;

    .list-group-item {
        padding: 0.25rem 0.35rem;

        .badge {
            float: right;
            margin-top: 4px;
        }
    }
}
