<section class="screen" *ngIf="isCharacter()">
    <div class="row">
        <div class="col-9">
            <h2 class="ml-2">{{ game.character.rank }} {{ game.character.name }}</h2>

            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div><strong>Level:</strong> {{ game.character.level }}</div>
                        <div><strong>Guts:</strong> {{ game.character.guts.current }}</div>
                        <div><strong>Wits:</strong> {{ game.character.wits.current }}</div>
                        <div><strong>Charm:</strong> {{ game.character.charm.current }}</div>
                        <div><strong>Quests:</strong> {{ game.character.quests.current }}</div>
                    </div>
                    <div class="col-6">
                        <div><strong>Age:</strong> {{ game.character.age }}</div>
                        <div><strong>Attack:</strong> {{ game.character.attack }}</div>
                        <div><strong>Defend:</strong> {{ game.character.defence }}</div>
                        <div><strong>Skill:</strong> {{ game.character.skill }}</div>
                        <div>
                            <strong style="float: left; margin-right: 1em;">Exp:</strong>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 5%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"><strong>Guild</strong></div>
                    <div class="col-3"><strong>F:</strong> 15/15</div>
                    <div class="col-3"><strong>M:</strong> 2/2</div>
                    <div class="col-3"><strong>T:</strong> 5/5</div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="img-placeholder bt-0 bb-0" style="height: 184px;"></div>
        </div>
    </div>

    <hr class="m-0"/>

    <div class="row">
        <div class="col-5">
            <h3 class="ml-2">
                Backpack
                <small class="float-right mt-1 text-muted">(14/83)</small>
            </h3>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" *ngFor="let item of backpack">
                    {{ item.name }}
                    <span class="badge badge-dark badge-pill" *ngIf="item.quantity">{{ item.quantity | number }}</span>
                </a>
            </div>
        </div>

        <div class="col-7">
            <h3 class="ml-2">Armaments</h3>
            <div class="container">
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-2">Atk</div>
                    <div class="col-2">Def</div>
                </div>
                <div class="row">
                    <div class="col-2"><strong>Head</strong></div>
                    <div class="col-6">Miner's Cap</div>
                    <div class="col-2">+1</div>
                    <div class="col-2">+9</div>
                </div>
                <div class="row">
                    <div class="col-2"><strong>Body</strong></div>
                    <div class="col-6">{{ game.character.gear.armour }}</div>
                    <div class="col-2">+6</div>
                    <div class="col-2">+14</div>
                </div>
                <div class="row">
                    <div class="col-2"><strong>Feet</strong></div>
                    <div class="col-6">Sea Slippers</div>
                    <div class="col-2">+1</div>
                    <div class="col-2">+6</div>
                </div>
                <div class="row">
                    <div class="col-2"><strong>Right</strong></div>
                    <div class="col-6">{{ game.character.gear.weapon }}</div>
                    <div class="col-2">+16</div>
                    <div class="col-2">+3</div>
                </div>
                <div class="row">
                    <div class="col-2"><strong>Left</strong></div>
                    <div class="col-6">Serpent Scale</div>
                    <div class="col-2">+1</div>
                    <div class="col-2">+9</div>
                </div>

                <div class="row mt-3">
                    <div class="col-4">
                        <a class="btn btn-dark btn-block btn-sm text-white">Use</a>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-dark btn-block btn-sm text-white">Info</a>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-dark btn-block btn-sm text-white">Peer</a>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-4">
                        <a class="btn btn-dark btn-block btn-sm text-white">Drop</a>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-dark btn-block btn-sm text-white disabled">Pick up</a>
                    </div>
                    <div class="col-4" (click)="close()">
                        <a class="btn btn-dark btn-block btn-sm text-white">Exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
