<div class="row">
    <div class="col-4">
        <select [(ngModel)]="castleGuildQuest" class="form-control" size="7">
            <option value="1">Noble Trophies</option>
            <option value="2">Grand Fish Oil Project</option>
            <option value="3">The Titan Blade</option>
            <option value="4">Serpent Scale Soup</option>
            <option value="5">The Gnome Tailor</option>
            <option value="6">Seafarer's Museum</option>
            <option value="7">Tears of a Dragon</option>
        </select>
    </div>
    <div class="col-8">
        <p *ngIf="castleGuildQuest == 1">A short description of the quest.</p>
        <p *ngIf="castleGuildQuest == 2">A short description of the quest.</p>
        <p *ngIf="castleGuildQuest == 3">A short description of the quest.</p>
        <p *ngIf="castleGuildQuest == 4">A short description of the quest.</p>
        <p *ngIf="castleGuildQuest == 5">A short description of the quest.</p>
        <p *ngIf="castleGuildQuest == 6">A short description of the quest.</p>
        <div *ngIf="castleGuildQuest == 7">
            <p>
                <em>"So, you are interested in the Dragon Scale Jacket"</em>,
                states Hannigan, the arrogant elf who has been the subject of much court gossip and intrigue.
            </p>
            <p>
                <em>"It is true that I am the only one who knows how to craft them. I will make one for you...
                    for quite a large fee."</em>
            </p>
            <p>
                He raises one eyebrow on his sharp, pale face.
            </p>
            <p>
                <em>"You will bring me thirty Dragon Scales and one million Marks. I care not how you get them."</em>
            </p>
            <p>
                He waves a hand indicating that you are dismissed, then he resumes sounding out a poem.
            </p>
        </div>

        <div *ngIf="castleGuildQuest">
            <hr/>
            <p><strong>Items Required</strong></p>
            <ul *ngIf="castleGuildQuest != 7">
                <li class="text-muted"><em>None</em></li>
            </ul>
            <ul *ngIf="castleGuildQuest == 7">
                <li class="text-danger">30 Dragon Scales</li>
                <li [class]="game.character.marks >= 1000000 ? 'text-success' : 'text-danger'">1,000,000 Marks</li>
            </ul>
            <button class="btn btn-dark btn-sm float-right">Complete quest</button>
        </div>
    </div>
</div>
