<section class="screen p-3" *ngIf="isEncounter()">
    <div class="row">
        <div class="col-4">Image</div>
        <div class="col-8">
            <h4>{{ game.zone.name }}</h4>

            <div class="list-group">
                <a class="list-group-item list-group-item-action" (click)="action('attack')">Kill the critter</a>
                <a class="list-group-item list-group-item-action" (click)="action('flee')">Run for your life</a>
                <a class="list-group-item list-group-item-action" (click)="action('bribe')">Give it money</a>
            </div>

            <div class="row my-3">
                <div class="col-6">
                    <strong>Guts:</strong> {{ game.zone.monster.guts }}<br/>
                    <strong>Wits:</strong> {{ game.zone.monster.wits }}
                </div>

                <div class="col-6">
                    <strong>Weapon:</strong> {{ game.zone.monster.weapon }}<br/>
                    <strong>Armour:</strong> {{ game.zone.monster.armour }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{ game.zone.description }}</p>
        </div>
    </div>
</section>
