<section class="screen" *ngIf="isZone()">
    <h1 class="ml-2">{{ game.zone.name }}</h1>

    <div class="row no-gutters">
        <div class="tile col col-4"
             *ngFor="let t of [0, 1, 2, 3, 4, 5]"
             (click)="click(game.zone.tiles[t].position)">
            <div *ngIf="game.zone.tiles[t]">
                <span *ngIf="game.zone.tiles[t].quests">
                    [{{ game.zone.tiles[ t ].quests }}]
                </span>
                {{ game.zone.tiles[ t ].name }}
            </div>
        </div>
    </div>
</section>
