.tile {
    padding: 11% 0;
    text-align: center;

    &:nth-child(1) {
        background-color: #eff;
    }

    &:nth-child(2) {
        background-color: #fef;
    }

    &:nth-child(3) {
        background-color: #ffe;
    }

    &:nth-child(4) {
        background-color: #eef;
    }

    &:nth-child(5) {
        background-color: #efe;
    }

    &:nth-child(6) {
        background-color: #fee;
    }
}

.screen .col {
    height: 215px;
}
